.ui-divider {
  --ui-divider-color: var(--ui-border);
  position: relative;
  margin: 1rem 0;
  color: var(--ui-text-muted);
  font-size: 0.875rem;
  border-block-start: 1px solid var(--ui-divider-color);

  &.ui-divider--dashed {
    border-block-start-style: dashed;
  }
}

.ui-divider--vertical {
  display: inline-block;
  height: 0.9em;
  margin: 0 0.5rem;
  vertical-align: middle;
  border-block-start: 0;
  border-inline-start: 1px solid var(--ui-divider-color);

  &.ui-divider--dashed {
    border-inline-start-style: dashed;
  }
}

.ui-divider--with-text {
  display: flex;
  align-items: center;
  border-block-start: 0;
  margin: 1rem 0;

  &::before,
  &::after {
    content: '';
    border-block-start: 1px solid var(--ui-divider-color);
    flex: 1;
  }

  &.ui-divider--dashed::before,
  &.ui-divider--dashed::after {
    border-block-start-style: dashed;
  }
}

.ui-divider--with-text-left::before {
  flex: 0 0 var(--ui-divider-orientation-margin, 5%);
}

.ui-divider--with-text-right::after {
  flex: 0 0 var(--ui-divider-orientation-margin, 5%);
}

.ui-divider__inner-text {
  padding: 0 1rem;
}

.ui-divider--plain .ui-divider__inner-text {
  color: var(--ui-text);
  font-weight: 500;
}
