.ui-drawer {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.ui-drawer.is-open {
  pointer-events: auto;
}

.ui-drawer__mask {
  position: absolute;
  inset: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: var(--ui-overlay);
}

.ui-drawer__content {
  position: absolute;
  background: var(--ui-surface);
  color: var(--ui-text);
  box-shadow: var(--ui-shadow);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: transform var(--ui-transition-base);
}

.ui-drawer__content--right {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

.ui-drawer__content--left {
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}

.ui-drawer__content--top {
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.ui-drawer__content--bottom {
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

.ui-drawer.is-open .ui-drawer__content {
  transform: translate(0, 0);
}

.ui-drawer__header,
.ui-drawer__footer {
  padding: var(--ui-space-md);
  border-bottom: 1px solid var(--ui-border);
}

.ui-drawer__footer {
  border-bottom: 0;
  border-top: 1px solid var(--ui-border);
}

.ui-drawer__body {
  padding: var(--ui-space-md);
  overflow: auto;
}

.ui-drawer__title-wrap {
  display: inline-flex;
  align-items: center;
  gap: var(--ui-space-xs);
}

.ui-drawer__title {
  font-weight: 600;
}

.ui-drawer__close {
  color: var(--ui-text-muted);

  &:hover {
    color: var(--ui-primary-hover);
  }

  &:active {
    color: var(--ui-primary-active);
  }
}

.ui-drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ui-space-md);
}
